# **FAKE NEWS DETECTION**

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [4]:
df_fake = pd.read_csv('Fake.csv', delimiter="\t")

In [5]:
df_true = pd.read_csv('True.csv', delimiter="\t", error_bad_lines=False)

b'Skipping line 87: expected 1 fields, saw 3\nSkipping line 261: expected 1 fields, saw 5\nSkipping line 349: expected 1 fields, saw 2\nSkipping line 526: expected 1 fields, saw 2\nSkipping line 869: expected 1 fields, saw 2\nSkipping line 1251: expected 1 fields, saw 2\nSkipping line 1490: expected 1 fields, saw 2\nSkipping line 2302: expected 1 fields, saw 2\nSkipping line 2341: expected 1 fields, saw 24\nSkipping line 3089: expected 1 fields, saw 2\nSkipping line 3418: expected 1 fields, saw 2\nSkipping line 4705: expected 1 fields, saw 2\nSkipping line 5488: expected 1 fields, saw 2\nSkipping line 5636: expected 1 fields, saw 3\nSkipping line 5792: expected 1 fields, saw 2\nSkipping line 6510: expected 1 fields, saw 8\nSkipping line 6885: expected 1 fields, saw 2\nSkipping line 7094: expected 1 fields, saw 13\nSkipping line 7420: expected 1 fields, saw 2\nSkipping line 7645: expected 1 fields, saw 2\nSkipping line 7913: expected 1 fields, saw 2\nSkipping line 7998: expected 1 fields, saw 2\nSkipping line 8215: expected 1 fields, saw 2\nSkipping line 8401: expected 1 fields, saw 2\nSkipping line 9478: expected 1 fields, saw 2\nSkipping line 9483: expected 1 fields, saw 2\nSkipping line 11256: expected 1 fields, saw 2\n'

In [6]:
df_fake.head(10)

                             title,text,subject,date
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...
5   Racist Alabama Cops Brutalize Black Boy While...
6   Fresh Off The Golf Course, Trump Lashes Out A...
7   Trump Said Some INSANELY Racist Stuff Inside ...
8   Former CIA Director Slams Trump Over UN Bully...
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...

In [7]:
df_true.head(10)

                             title,text,subject,date
0  As U.S. budget fight looms, Republicans flip t...
1  U.S. military to accept transgender recruits o...
2  Senior U.S. Republican senator: 'Let Mr. Muell...
3  FBI Russia probe helped by Australian diplomat...
4  Trump wants Postal Service to charge 'much mor...
5  White House, Congress prepare for talks on spe...
6  Trump says Russia probe will be fair, but time...
7  Factbox: Trump on Twitter (Dec 29) - Approval ...
8  Trump on Twitter (Dec 28) - Global Warming,"Th...
9  Alabama official to certify Senator-elect Jone...

In [8]:
df_fake2 = pd.read_csv("Fake.csv", delimiter='\t', names=['title', 'text', 'subject', 'date'])

In [9]:
df_fake2.head()

                                               title  text  subject  date
0                            title,text,subject,date   NaN      NaN   NaN
1   Donald Trump Sends Out Embarrassing New Year’...   NaN      NaN   NaN
2   Drunk Bragging Trump Staffer Started Russian ...   NaN      NaN   NaN
3   Sheriff David Clarke Becomes An Internet Joke...   NaN      NaN   NaN
4   Trump Is So Obsessed He Even Has Obama’s Name...   NaN      NaN   NaN

In [10]:
df_fake = df_fake2.drop(['text', 'subject', 'date'], axis=1)

In [11]:
df_fake = df_fake.iloc[1: , :]

In [12]:
df_fake.head()

                                               title
1   Donald Trump Sends Out Embarrassing New Year’...
2   Drunk Bragging Trump Staffer Started Russian ...
3   Sheriff David Clarke Becomes An Internet Joke...
4   Trump Is So Obsessed He Even Has Obama’s Name...
5   Pope Francis Just Called Out Donald Trump Dur...

In [13]:
df_fake['title']

1         Donald Trump Sends Out Embarrassing New Year’...
2         Drunk Bragging Trump Staffer Started Russian ...
3         Sheriff David Clarke Becomes An Internet Joke...
4         Trump Is So Obsessed He Even Has Obama’s Name...
5         Pope Francis Just Called Out Donald Trump Dur...
                               ...
23477    McPain: John McCain Furious That Iran Treated ...
23478    JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
23479    Sunnistan: US and Allied ‘Safe Zone’ Plan to T...
23480    How to Blow $700 Million: Al Jazeera America F...
23481    10 U.S. Navy Sailors Held by Iranian Military ...
Name: title, Length: 23481, dtype: object

In [14]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [19]:
df_fake3 = pd.read_csv("Fake.csv", delimiter='\t', names=['title', 'text', 'subject', 'date'])
df_fake = df_fake3.drop(['text', 'subject', 'date'], axis=1)
df_fake = df_fake.iloc[1: , :]

In [20]:
df_fake[['title', 'date']] = df_fake['title'].str.split('News,', n=1, expand=True)

In [21]:
df_fake.head()

                                               title                 date
1   Donald Trump Sends Out Embarrassing New Year’...  "December 31, 2017"
2   Drunk Bragging Trump Staffer Started Russian ...  "December 31, 2017"
3   Sheriff David Clarke Becomes An Internet Joke...  "December 30, 2017"
4   Trump Is So Obsessed He Even Has Obama’s Name...  "December 29, 2017"
5   Pope Francis Just Called Out Donald Trump Dur...  "December 25, 2017"

In [22]:
df_true3 = pd.read_csv("True.csv", delimiter='\t', names=['title', 'text', 'subject', 'date'])
df_true = df_true3.drop(['text', 'subject', 'date'], axis=1)
df_true = df_true.iloc[1: , :]

In [23]:
df_true[['title', 'date']] = df_true['title'].str.split('News,', n=1, expand=True)

In [24]:
df_fake = df_fake.drop(['date'], axis=1)
df_true = df_true.drop(['date'], axis=1)

In [25]:
df_fake.head()

                                               title
1   Donald Trump Sends Out Embarrassing New Year’...
2   Drunk Bragging Trump Staffer Started Russian ...
3   Sheriff David Clarke Becomes An Internet Joke...
4   Trump Is So Obsessed He Even Has Obama’s Name...
5   Pope Francis Just Called Out Donald Trump Dur...

In [26]:
df_true.head()

                                               title
1  As U.S. budget fight looms, Republicans flip t...
2  U.S. military to accept transgender recruits o...
3  Senior U.S. Republican senator: 'Let Mr. Muell...
4  FBI Russia probe helped by Australian diplomat...
5  Trump wants Postal Service to charge 'much mor...

In [29]:
df_fake["class"] = 0
df_true["class"] = 1

In [27]:
df_fake.shape

(23481, 1)

In [28]:
df_true.shape

(21417, 1)

In [30]:
df_fake_manual_testing = df_fake.tail(5)
for i in range(23480, 23475, -1):
  df_fake.drop([i], axis=0, inplace=True)

In [31]:
df_true_manual_testing = df_true.tail(5)
for i in range(21416, 21411, -1):
  df_true.drop([i], axis=0, inplace=True)

In [32]:
df_manual_testing = pd.concat([df_fake_manual_testing, df_true_manual_testing], axis=0)

In [33]:
df_manual_testing.to_csv('manual_testing.csv')

In [34]:
df_merge = pd.concat([df_fake, df_true], axis=0)
df_merge.head()

                                               title  class
1   Donald Trump Sends Out Embarrassing New Year’...      0
2   Drunk Bragging Trump Staffer Started Russian ...      0
3   Sheriff David Clarke Becomes An Internet Joke...      0
4   Trump Is So Obsessed He Even Has Obama’s Name...      0
5   Pope Francis Just Called Out Donald Trump Dur...      0

In [35]:
df = df_merge
#to shuffle the dataset
df = df.sample(frac=1)

In [37]:
df.head(10)

                                                   title  class
7419    Here’s Why Bill Maher Believes Trump Wants To...      0
961     Here’s How Much Trump Is Paying Omarosa, Kell...      0
695     BUSTED: Fox News Worked With Trump To Circula...      0
1005    Republicans Just Added What They Hated The Mo...      0
727    U.S. has 'frank' exchange on South China Sea d...      1
7242    Former Trump Aide Fired For Somehow Being Too...      0
8347    Internet Destroys Imbecile Who Wants To Make ...      0
10014  WATCH VIDEO MEDIA WILL NEVER SHOW THEIR VIEWER...      0
3987   Trump signs executive order to modernize U.S. ...      1
14193  Rohingya refugees 'drained' by trauma, says U....      1

In [38]:
df.isnull().sum()

title    0
class    0
dtype: int64

In [39]:
def word_drop(text):
  text = text.lower()
  text = re.sub('\[.*?\]', '', text)
  text = re.sub("\\W", " ", text)
  text = re.sub('https?://\S+|www\.\S+', '', text)
  text = re.sub('<.*?>+', '', text)
  text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
  text = re.sub('\n', '', text)
  text = re.sub('\w*\d\w', '', text)
  return text

In [41]:
df["title"] = df["title"].apply(word_drop)

In [42]:
df.head(10)

                                                   title  class
7419    here s why bill maher believes trump wants to...      0
961     here s how much trump is paying omarosa  kell...      0
695     busted  fox news worked with trump to circula...      0
1005    republicans just added what they hated the mo...      0
727    u s  has  frank  exchange on south china sea d...      1
7242    former trump aide fired for somehow being too...      0
8347    internet destroys imbecile who wants to make ...      0
10014  watch video media will never show their viewer...      0
3987   trump signs executive order to modernize u s  ...      1
14193  rohingya refugees  drained  by trauma  says u ...      1

In [43]:
x = df['title']
y = df['class']

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

## Vectorisation

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

## Logistic Regression

In [50]:
from sklearn.linear_model import LogisticRegression

In [52]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [53]:
LR.score(xv_test, y_test)

0.9884156121903404

In [54]:
predict_LR = LR.predict(xv_test)

In [56]:
print(classification_report(y_test, predict_LR))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5918
           1       0.99      0.99      0.99      5304

    accuracy                           0.99     11222
   macro avg       0.99      0.99      0.99     11222
weighted avg       0.99      0.99      0.99     11222

## Decision Tree Classification

In [57]:
from sklearn.tree import DecisionTreeClassifier

In [58]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [59]:
DT.score(xv_test, y_test)

0.9957226875779719

In [60]:
pred_DT = DT.predict(xv_test)

In [61]:
print(classification_report(y_test, pred_DT))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5918
           1       1.00      1.00      1.00      5304

    accuracy                           1.00     11222
   macro avg       1.00      1.00      1.00     11222
weighted avg       1.00      1.00      1.00     11222

## Gradient Boosting Classifier

In [62]:
from sklearn.ensemble import GradientBoostingClassifier

In [63]:
GBC = GradientBoostingClassifier()
GBC.fit(xv_train, y_train)

GradientBoostingClassifier()

In [64]:
GBC.score(xv_test, y_test)

0.9953662448761361

In [65]:
pred_GBC = GBC.predict(xv_test)

In [66]:
print(classification_report(y_test, pred_GBC))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5918
           1       0.99      1.00      1.00      5304

    accuracy                           1.00     11222
   macro avg       1.00      1.00      1.00     11222
weighted avg       1.00      1.00      1.00     11222

## Random Forest Classifier

In [67]:
from sklearn.ensemble import RandomForestClassifier

In [69]:
RFC = RandomForestClassifier()
RFC.fit(xv_train, y_train)

RandomForestClassifier()

In [70]:
RFC.score(xv_test, y_test)

0.9919800392086972

In [71]:
pred_RFC = RFC.predict(xv_test)

In [72]:
print(classification_report(y_test, pred_RFC))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99      5918
           1       0.99      0.99      0.99      5304

    accuracy                           0.99     11222
   macro avg       0.99      0.99      0.99     11222
weighted avg       0.99      0.99      0.99     11222

## Manual Testing

In [73]:
def output_label(n):
  if n==0:
    return "Fake News"
  elif n==1:
    return "Real News"

def manual_testing(news):
  testing_news = {"text":[news]}
  new_def_test = pd.DataFrame(testing_news)
  new_def_test['title'] = new_def_test['text'].apply(word_drop)
  new_x_test = new_def_test['title']
  new_xv_test = vectorization.transform(new_x_test)
  pred_LR = LR.predict(new_xv_test)
  pred_DT = DT.predict(new_xv_test)
  pred_GBC = GBC.predict(new_xv_test)
  pred_RFC = RFC.predict(new_xv_test)

  return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_label(pred_LR), output_label(pred_DT), output_label(pred_GBC), output_label(pred_RFC)))

In [78]:
news = str(input())
manual_testing(news)

# Actual news : Real

LONDON (Reuters) - LexisNexis, a provider of legal, regulatory and business information, said on Tuesday it had withdrawn two products from the Chinese market in March this year after it was asked to remove some content.  The issue of academic freedom in China hit the headlines this week after the leading British academic publisher,  Cambridge University Press, said it had complied with a request to block online access to some scholarly articles in China.  It later reversed its position.   Earlier this year LexisNexis Business Insight Solutions in China was asked to remove some content from its database,  LexisNexis said in a statement.  In March 2017, the company withdrew two products (Nexis and LexisNexis Academic) from the Chinese market.  LexisNexis is owned by information group Relx.


LR Prediction: Real News
DT Prediction: Real News
GBC Prediction: Real News
RFC Prediction: Real News

In [79]:
news = str(input())
manual_testing(news)

# Actual news : Fake

21st Century Wire says It s a familiar theme. Whenever there is a dispute or a change of law, and two tribes go to war, there is normally only one real winner after the tribulation  the lawyers. Ars TechnicaIn late 2013, Yahoo was hit with six lawsuits over its practice of using automated scans of e-mail to produce targeted ads. The cases, which were consolidated in federal court, all argued that the privacy rights of non-Yahoo users, who  did not consent to Yahoo s interception and scanning of their emails,  were being violated by a multi-billion dollar company.Now, lawyers representing the plaintiffs are singing a different tune. Last week, they asked US District Judge Lucy Koh to accept a proposed settlement (PDF). Under the proposal, the massive class of non-Yahoo users won t get any payment, but the class lawyers at Girard Gibbs and Kaplan Fox intend to ask for up to $4 million in fees. (The ultimate amount of fees will be up to the judge, but Yahoo has agreed not to oppose any fee request up to $4 million.)While users won t get any payment, Yahoo will change how it handles user e-mails but it isn t the change that the plaintiffs attorneys were originally asking for. Yahoo won t stop scanning e-mails. Instead, the company has agreed to make a technical change to when it scans e-mails. In the settlement (PDF), Yahoo has agreed that e-mail content will be  only sent to servers for analysis for advertising purposes after a Yahoo Mail user can access the email in his or her inbox. The settlement deal looks pretty similar to what Yahoo had argued it did in the first place Continue this story at Ars TechnicaREAD MORE NSA NEWS AT: 21st Century Wire NSA Files


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News